 <!-- Strengths -->
 <div id="strengths" class="basic-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <div class="bullet">1</div>
                        <div class="media-body">
                            <h4>Specialized Expertise</h4>
                            <p>We've made it ourmission to provide the best websight development services in the
                                industry. Besides the firm itself we also provide branding and strategy services to
                                create solid foundation on your buisness </p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="bullet">2</div>
                        <div class="media-body">
                            <h4>Ecommerce and Digital-Marketing</h4>
                            <p>Our partnership with Ecommerce stores enables us to stay on top of all platform
                                updates and prepare them for installation in your own online store. we have to
                                support them for thier buisness Growth Through Digitalmarketing and social media
                                marketting, We're a good development team so we can solve any difficult situations
                                that can occur after major updates</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="bullet">3</div>
                        <div class="media-body">
                            <h4>Timely delivery</h4>
                            <p>We take pride in delivering projects before the deadline to extend the pre-launch
                                testing period. This ensures a smooth user experience and it also helps with
                                bringing visitors back. You can check out or <a class="red page-scroll"
                                    href="#projects">projects section</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div> <!-- end of col-lg-12 -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of strengths -->