<!-- About -->
<div id="about" class="basic-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container bg-gray">
                    <h2>About our team</h2>
                    <p>We are a group of designers, developers and marketers specialized in the web technologies,
                        digital marketing and social media
                    </p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">We love what we do and have a lot of passion</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Static web pages for brands, celebrities</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Shopify and Woocommerce platform for shoping</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
                <div class="image-container">
                    <img class="img-fluid" src="./assets/images/about-us.jpg" alt="about-us">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-6 -->
<!-- end of about -->