    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6> About Prime Way</h6>
                        <p class="p-small">Prime Way team is a business supporting platform for helping to improve your
                            business through good online appearance by website developing, Social media, online
                            portfolio management continuous analytics and giving advise for your entire Growth</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6> Quick Links</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li><a href="terms">Terms & Conditions</a><br>
                                <a href="privacy">Privacy Policy<br></a>
                                <a class="page-scroll" href="#about">About<br></a>
                                <a class="page-scroll" href="#details">Services<br></a>
                                <a class="page-scroll" href="#contact">Book consultation<br></a>
                                <a class="page-scroll" href="#strengths"><br></a>
                            </li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/primewaytechnologies/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://twitter.com/primwayteam">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://in.pinterest.com/primewayteam/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/prime_way_team/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small"><a href="primewayteam@gmail.com"><strong></strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->