    <!-- Mission -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="text-container">
                    <h4>Our mission is to deliver reliable websight together with the necessary consulting
                        and marketing services which will help to improve their buisness stability</h4>
                </div> <!-- end of text-container -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of mission -->