<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="./assets//images/logo-prime-way.png" alt="logo-prime-way">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h3>We offer complete websight development and support</h3>
                    <a class="btn-solid-lg page-scroll" href="#details">Services</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Branding & strategy</h5>
                            <div class="card-text">To build a solid foundation for your Buisness you need a
                                strong brand and a good strategy</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Design & development</h5>
                            <div class="card-text">Prime Way team of competent designers and developers are able to
                                create beautiful websites</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Digital marketing</h5>
                            <div class="card-text">We deliver comprehensive marketing strategy and
                                execution. Monitor realtime conversion and analytics</div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of services -->
</header> <!-- end of header -->
<!-- end of header -->