<!-- Projects -->
<div id="projects" class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Text Slider -->
                <div class="slider-container">
                    <div class="swiper-container text-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-container">
                                            <img class="img-fluid" src="./assets/images/static-web-pages.jpg"
                                                alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h4>Static webpage for brands</h4>
                                            <p> website design which simply shows your product or business online is
                                                a static website design. Our programming team is an expert to create
                                                such sites as it does not require any content management system.
                                                Static website is simply design by our team and make sure
                                                that it is more easy to handle and user-friendly</p>
                                            <p class="testimonial-text">"I am happy to have chosen primeway for our
                                                Business implementation on online. Their specialized experience
                                                helped the project and made it available 2 weeks prior the launch
                                                date for extensive testing"</p>
                                            <div class="testimonial-author">Amal Xavier - General Manager</div>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-container">
                                            <img class="img-fluid" src="./assets/images/e-commerce.jpg" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h4>Ecommerce websight</h4>
                                            <p>We were proud to partner with Primeway in order to create a modern
                                                online store where customers can purchase some of the best items
                                                from the market at affordable prices</p>
                                            <p class="testimonial-text">"I Think one of my correct decision for took
                                                consultation on primeway business platform, I am happy to have
                                                chosen
                                                primeway for our Business Growth partner. Their specialized
                                                experience
                                                helped the project and made it available as much as possible "</p>
                                            <div class="testimonial-author">Sharon Sabu - Sales Manager</div>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-container">
                                            <img class="img-fluid" src="./assets/images/social-media-marketing.jpg"
                                                alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h4>Social media marketing campaign</h4>
                                            <p>Social media campaigns are the rocket fuel of your marketing efforts,
                                                a concentrated burst of energy that pays off in a major boost to
                                                your brand reputation, awareness or sales.</p>
                                            <p class="testimonial-text">"It is a wonderful experience to co-operate
                                                with primeway team to my business turned high through Digital
                                                marketing. It's wonderful team Having their own idea for social
                                                media campaign . I am happy to have chosen primeway for business
                                                support"
                                            </p>
                                            <div class="testimonial-author">Alex Philip - Development Manager
                                            </div>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of text slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of projects -->