<!-- Details 1 -->
<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Branding & strategy</h2>
                    <hr class="hr-heading">
                    <p>To build a solid foundation for your Buisness you need a strong brand and a good
                        strategy. we will give you a full support and assistance of your Buisness Growth.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Developing beautiful websight</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Creating good concepts and logo Design</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Creative Poster Designing </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"> Online marketing statergy and brand Building </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Social media marketting </div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="./assets/images/Branding and strategy.jpg" alt="Branding and strategy">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->


<!-- Details 2 -->
<div class="basic-2">
    <div class="container-fluid">
        <div class="row">
            <div class="image-area">
                <div class="image-container">
                    <img class="img-fluid" src="./assets/images/Design and Development.jpg" alt="Design and Development">
                </div> <!-- end of image-container -->
            </div> <!-- end of image-area -->
            <div class="text-area">
                <div class="text-container">
                    <h2>Design & development</h2>
                    <hr class="hr-heading">
                    <p>Prime Way team of competent designers and developers are able to create beautiful websites
                        that will serve you excellent online appearance of your business.
                        We guarantee you this definitely work for your business to grow higher level and increase
                        revenues</p>
                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox">Strategy &
                        Plan</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of text-area -->
        </div> <!-- end of row -->
    </div> <!-- end of container-fluid -->
</div> <!-- end of basic-1 -->
<!-- end of details 2 -->

<!-- Details 3 -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Digital marketing</h2>
                    <hr class="hr-heading">
                    <p>We can deliver a comprehensive marketing strategy and execution. Monitor realtime conversion
                        and analytics. We will conduct evaluations regularly and advise you.
                    </p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Marketing plan for 6 months with evaluation</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Social media campaigns page handling</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Web analytics and conversion</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Loyalty programs for your favorite clients</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="./assets/images/Digital-Marketing.jpg" alt="Digital-Marketing">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of details 3 -->
